.banner {
    width: 100%;
    height: 460px;
    background-color: #FAFAFA;
    padding-top: 140px;
    padding-bottom: 80px;
    text-align: center;
}
.banner__title {
    font-size: 24px;
    line-height: 28.8px;
    color: #1E1E1E;
}
.banner__title:nth-of-type(1) {
    margin-bottom: 16px;
}
.banner__title:nth-of-type(2) {
    margin-bottom: 60px;
}
.banner__info__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 636px;
    margin: 0 auto;
}
.banner__info__items {
    width: 298px;
}
.banner__info__items span {
    display: block;
    line-height: 24px;
    text-align: center;
    color: #5B5B5B;
    margin-bottom: 12px;
}

.banner__info__items p {
    line-height: 24px;
    text-align: center;
    color: #3B3B3B;
}

.pc-hidden {
    display: none;
}

@media(max-width: 767px) {
    .pc-hidden {
        display: inline;
    }

    .banner {
        padding-right: 37px;
        padding-left: 37px;
        padding-top: 104px;
        padding-bottom: 80px;
        /* border: .5px solid red; */
        height: 540px;
    }
    .banner__title {
        font-size: 20px;
        line-height: 30px;
    }
    .banner__title:nth-of-type(1) {
        margin-bottom: 8px;
    }
    .banner__title:nth-of-type(2) {
        margin-bottom: 40px;
    }
    .banner__info__wrap {
        flex-direction: column;
        align-items: center;
    }
    .banner__info__items {
        width: 235px;
    }
    .banner__info__items:nth-of-type(1) {
        margin-bottom: 20px;
    }
}